#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=cn --xlayouts='cn'
# System language
lang zh_CN.UTF-8

# Network information
network  --bootproto=dhcp --device=ens33 --onboot=off --ipv6=auto --no-activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$kFB6O/Rukd49i6Uu$ZJPh9I/pyzLy1X75KsdJKoG.tCJlexAI5L3pCg2V0y8HF2vwZ1ey1Ie8/xDcSDsj1zeRo5PGpMTY/1OQoODoj0
# System services
services --enabled="chronyd"
# System timezone
timezone Asia/Shanghai --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part pv.252 --fstype="lvmpv" --ondisk=sda --size=20098
part /boot --fstype="xfs" --ondisk=sda --size=381
volgroup cl --pesize=4096 pv.252
logvol /home  --fstype="xfs" --size=1907 --name=home --vgname=cl
logvol /  --fstype="xfs" --size=14366 --name=root --vgname=cl
logvol swap  --fstype="swap" --size=3814 --name=swap --vgname=cl

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end
